<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>No title</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }} ">
    {% block head %}

    {% endblock %}


    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='socket.js') }}"></script>

</head>
<body>
    <div class="my-nav">
        <span>
            <a href=" {{ url_for('index') }}">Index Page</a>
        </span>
        {% if current_user.is_anonymous %}
        <span>
            <a href=" {{ url_for('login') }}">Login</a>
        </span>
        <span>
            <a href=" {{ url_for('signup') }}">Sign Up</a>
        </span>
        {% else %}
        <span>
            <a href=" {{ url_for('logout') }}">Logout</a>
        </span>
        <p>
          hi, <b> {{ current_user.username }} </b>
        </p>
        {% endif %}
    </div>

    <ul>
    {% for message in get_flashed_messages() %}
    <li>
        {{ message }}
    </li>
    {% endfor %}

    </ul>

    <hr>

    {% block content %}
    {% endblock %}

    
</body>
</html>