{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href=" {{ url_for('static', filename='index.css') }}">

{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="main-grid">
            <div class="room-bar">
                <div class="add-room-div">
                    <button type="button" class="btn btn-success">Create Room</button>
                </div>
                <div class="rooms scrollable">
                    <div class="room"></div>
                    <div class="room"></div>
                    <div class="room"></div>
                </div>
            </div>
            <div class="chat-bar">
                <div id="chat_history_display" class="content scrollable">
                </div>
            </div>

            <div class="text-bar">
                <textarea id="text-message" class="text-enter">10000000000000000000000000000000000000000000000000000000000000000000000000000</textarea>
                <button id="btn-send" type="button" class="btn btn-primary">Enter</div>
            </div>
            
        </div>
    </div>


{% endblock %}